# Docker database (Crucial: do not sync internal DB files)
fuseki_data/

# Python junk
__pycache__/
*.py[cod]

# Local OS files
.DS_Store
Thumbs.db

# Data files (Optional: keep these local if they are huge)
output/*.ttl
data/cleaned_schedule.csv
