# Python artifacts
__pycache__/
*.pyc

# Data & Output (Keep folders, ignore content)
archive/data/gtfs/*
!archive/data/gtfs/.gitkeep
archive/output/*
!archive/output/.gitkeep

# Environment/OS
.DS_Store
.env

.venv
.idea
